############# IGNORES #############
handbook.aux
handbook.log
handbook.out
handbook.synctex.gz
handbook.toc
handbook.idx
handbook.lof
handbook.lol
handbook.pdf

/tmp/
/document.pdf
/document.synctex.gz
